<table style="border: 1px solid;">
    <form action="" method="post">
        <label> Mã điểm cách ly</label><input type="text" id="MaDiemCachLy" name="MaDiemCachLy" /> <br />
        <label> Tên điểm cách ly</label><input type="text" id="TenDiemCachLy" name="TenDiemCachLy" /><br />
        <label> Địa chỉ</label><input type="text" name="DiaChi" id="DiaChi" /> <br />
        <input type="submit" name="submit" value="Thêm" />
    </form>
</table>